.social{
    text-align: center;
    margin: 105px 0;

    p{
        margin-bottom: 25px;
        font-size: 14px;
        color: #999;
        font-family: 'Roboto Regular', sans-serif;
    }

    a{
        margin: 0 4px;

        
    }
}