body, div,html,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}
img {
    vertical-align:bottom;
    max-width:100%;
  }
a { text-decoration: none; }
.row:after {
    content: "";
    display: table;
    clear: both;
}
.open{
  display: block !important;
}

